<ion-tabs color="cenizaOscura">

  <ion-tab-bar color="cenizaOscura" slot="bottom">

    <ion-tab-button color="cenizaOscura" tab="home">
      <ion-icon style="font-size: 20px;" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button color="cenizaOscura" tab="fav">
      <ion-icon style="font-size: 20px;" name="heart-outline"></ion-icon>
      <ion-label>Favorite</ion-label>
    </ion-tab-button>

    <ion-tab-button color="cenizaOscura" tab="lei">
      <ion-icon style="font-size: 20px;" name="wallet-outline"></ion-icon>
      <ion-label>560 Lei</ion-label>
    </ion-tab-button>

    <ion-tab-button color="cenizaOscura" tab="info">
      <ion-icon style="font-size: 20px;" name="document-text-outline"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>

    <ion-tab-button color="cenizaOscura" tab="promos">
      <ion-icon style="font-size: 20px;" name="megaphone-outline"></ion-icon>
      <ion-label>Promotions</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
